
//fonts
$basicFontStyle: 'Roboto', Arial , sans-serif;
$secondaryFontStyle: 'Lato', Arial ,sans-serif ;

$basicFontSize: 1.9rem;

$basicFontColor: #fff;

//colors
$basicBackgroundColor: #333;

//grid
$grid-elem-width: 150px;
$grid-elem-height: 200px;