@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body {
  font-size: 1.8rem;
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', Arial , sans-serif;
}
h1,h2,h3,p,a {
  font-family: 'Lato', Arial ,sans-serif ;
}
a {
  color: #00B7FF;
}
.item, .user-books {
  position: relative;
  margin: 20px auto;
}
.trade, .remove {
  position: absolute;
  left: 10%;
  cursor: pointer;
  color: #ff0e13;
}

.request {
  position: absolute;
  left: calc(50% - 40px);
  top: 45%;
  width: 80px;
  background: rgba(33,33,33,0.7);
  font-size: 1.3rem;
}
.request:hover ~ .requestAuthor {
  display: block;
}
.accept {
  color: green;
  cursor: pointer;
}

.item img {
  cursor: pointer;
}
.requestAuthor {
  position: absolute;
  background: rgba(33,33,33,0.7);
  z-index: 999;
  font-size: 1.5rem;
  top: 80%;
  left: 10%;
  color: #ffa809;
  display: none;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid {
  text-align: center;
}
.grid-item {
  width: 160px;
  height: 200px;
  float: left;
  border-radius: 5px;
}
.panel-body {
  background-color: #222;
}
.panel-body span {
   padding: 5% 25px;
}
.search-books {
  margin: 30px 0;
  cursor: pointer;
}
.search-form {
  margin: 40px auto;
}
.search-lang {
  padding-top: 10px;
}