<ul id="userMenu" class="nav navbar-nav navbar-right">
    <!--user menu template here-->
    <li ng-if="!user.userEmail && !userSession.userEmail"><a ui-sref="login" ui-sref-active="active">Login</a></li>
    <li ng-if="user.userEmail || userSession.userEmail"><a>{{user.userEmail || userSession.userEmail}}</a></li>
    <li ng-if="!user.userEmail && !userSession.userEmail"><a ui-sref="signup" ui-sref-active="active">Sign Up</a></li>
    <li ng-if="user.userEmail || userSession.userEmail"><a ng-click="currentUserCtrl.logoutCurrentUser()">Log Out</a></li>
</ul>