<h1 class="text-center">Log In page</h1>
<form action="/login" name="login" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input id="inputEmail" type="email" name="email" placeholder="Email" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input id="inputPassword" type="password" name="password" placeholder="Password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 text-left">
            <button id="loginBtn" type="submit" class="btn btn-success">Log In</button>
        </div>
    </div>
</form>
<h3 class="text-center">Нет аккаунта?<a href="/#signup"> Регестрируйтесь здесь!</a></h3>