<h1 class="text-center">Sign Up page</h1>
<form class="form-horizontal">
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email*</label>
        <div class="col-sm-9">
            <input id="email" type="email" placeholder="Email" class="form-control" ng-model="signupCtrl.signupData.email"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Пароль*</label>
        <div class="col-sm-9">
            <input id="password" type="password" placeholder="Пароль" class="form-control" ng-model="signupCtrl.signupData.password"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPasswordConfirm" class="col-sm-3 control-label">Подтвердите пароль*</label>
        <div class="col-sm-9">
            <input id="inputPasswordConfirm" type="password" placeholder="Подтвердите пароль" class="form-control"  ng-model="signupCtrl.signupData.confirmPassword"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPasswordConfirm" class="col-sm-3 control-label">Ваше имя</label>
        <div class="col-sm-9">
            <input id="inputName" type="text" placeholder="Введите ваше имя" class="form-control" ng-model="signupCtrl.signupData.name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPasswordConfirm" class="col-sm-3 control-label">Ваш город</label>
        <div class="col-sm-9">
            <input id="inputCity" type="text"  placeholder="Введите ваш город" class="form-control"  ng-model="signupCtrl.signupData.city"/>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-9 alert alert-danger text-center" role="alert" ng-if="signupCtrl.signupFailureMessage">
        <button type="button" class="close" ng-click="signupCtrl.closeAlert()"><span aria-hidden="true">&times;</span></button>
        {{signupCtrl.signupFailureMessage}}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 text-left">
            <button id="signupBtn" class="btn btn-info" ng-click="signupCtrl.signup()">Sign Up</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 text-left">
            <button  class="btn btn-info">Sign Up</button>
        </div>
    </div>
</form>
